* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h3 {
  margin: 1em 0;
}
h4 {
  font-size: small;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e4e4e2;
  width: 100%;
  height: 100%;
}

header {
  display: block;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  padding: 1em 0;
  background-color: #191a19;
  color: #4e9f3d;
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.form-container {
  display: flex;
  margin-top: 2em;
}

/* form designing */

.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 50%;
}
.form1 > h3 {
  font-size: 1rem;
}
.form1 > p {
  margin-bottom: 0.3rem;
}

.form-detail {
  padding: 1rem 0 2rem 0;
  width: auto;
}

.form-detail > h3 {
  margin: 1em;
}
.form-detail > p {
  margin: 0.5em;
  text-align: center;
}

/* target all inputs */
input {
  outline: none;
  border: none;
  height: 3rem;
}

input[type="submit"] {
  color: #414141;
  padding: 1rem;
}
input[type="submit"]:hover {
  background-color: #4e9f3d;
  color: #fff;
}
input[type="text"] {
  margin-bottom: 1rem;
  background-color: #e4e4e2;
}
input[type="text"]:focus {
  border: 1px solid rgb(121, 143, 217);
  background-color: #f2f2f1;
}
.footer {
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4e9f3d;
  color: #d8e9a8;
}
.author {
  text-decoration: none;
  color: #d8e9a8;
}

/* Media queries */

/* Media Query for forms to column */
@media all and (max-width: 600px) {
  .form-container {
    flex-direction: column;
  }
  .form1 {
    margin: 1em auto;
    width: 100%;
    padding: 0;
  }
  .form-detail {
    padding: 0;
    width: 80%;
  }
}
